@import "tailwindcss";

@theme {
  --color-primary: #c0392b;
  --color-lightRed: #e74c3c;

  --color-dark: #18181b;
  --color-darkGray: #2c3e50;
  --color-lightGray: #ecf0f1;
  --color-white: #ffffff;

  --color-gold: #f1c40f;
  --color-beige: #fff5e1;
}

/* Inputs */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
select {
  @apply w-full p-3 outline-0 mt-2 bg-darkGray rounded focus:brightness-80 border border-transparent focus:border-beige;
}
input[type="file"] {
  cursor: pointer;
}
input[type="checkbox"] {
  @apply w-5 h-5 accent-primary cursor-pointer;
}
input.input-error {
  @apply border-lightRed focus:border-lightRed;
}
button:disabled {
  @apply opacity-35 hover:cursor-progress;
}
