@import "tailwindcss";

@theme {
  --color-primary: #C0392B;
  --color-lightRed: #E74C3C;

  --color-dark: #18181b;
  --color-darkGray: #2C3E50;
  --color-lightGray: #ECF0F1;
  --color-white: #FFFFFF;

  --color-gold: #F1C40F;
  --color-beige: #FFF5E1;
}

/* NavLink react-router-dom */
#navlink {
  @apply p-4 flex items-center gap-5 text-beige font-semibold border-l-3 border-transparent transition duration-150 ease-in hover:text-lightRed;
}
#navlink.active {
  @apply bg-dark text-lightRed border-lightRed;
}
